---
import LatestWorkCarouselComponent from './LatestWorkCarousel';
import VisibleWrapper from './VisibleWrapper';
import { isRTL } from '../i18n/utils';

const rtl = isRTL(Astro);
---

<div class="opacity-100" style="opacity: 1;">
  <LatestWorkCarouselComponent isArabic={rtl} client:only="react" />
</div>
